@use "../../styles/globals" as *;
@use "../../styles/fonts" as *;

.menu {
  left: 0;
  right: 0;
  width: 100%;
  max-width: none;
  position: absolute;
  top: 70px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  // padding: 1rem 2rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  display: none;
  z-index: 1000;
  overflow-y: auto;
  border: 0.1rem solid black;
}

.open {
  transform: translateY(0);
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.linkItem {
  display: flex;
  align-items: center;
}

.link {
  width: 100%;
  text-decoration: none;
  color: $black;
  font-weight: 500;
  font-size: 0.85rem;
  transition: color 0.2s;

}

.link:hover {

  background-color: $orange;
}

.linkActive {
  background-color: $orange;
}

@media (max-width: 1120px) {
  .links {
    flex-direction: column;
    width: 100%;
  }

  .link {
    padding: 0.5rem 0;
    padding-left: 1rem;
  }
}

/* Hide dropdown entirely on larger screens */
@media (min-width: 1121px) {
  .menu {
    display: none !important;
    transform: translateY(-100%) !important;
  }
}
