@use '../../styles/globals' as *;

.ceFacem {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: $font-regular;
}

.description{
    font-size: 1.1rem;
    gap: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    max-width: 100vh;
}

.block {
    max-width: $maxWidth;
    width: 100%;
    margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
    padding: 0rem 2rem;
    min-height: 360px;
    border-radius: 0.75rem;
    overflow: hidden;
}

.leftSide,
.rightSide {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSide img,
.rightSide .joinImage,
.rightSide .logoAnpc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  flex: 1 1 auto;
}


.block1Left {
  background: $orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
}

.blockTitleOrange{
  background-color: $orange;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

.blockTitleTeal{
  background-color: $teal;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

.blockSubTitle {
  font-family: $font-bold;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.blockDescription {
  font-size: 1.3rem;
  line-height: 1;

  text-align: center;
  color: #fff;
  max-width: 90%;
}

.blockButton {
  @include button-dark;
}
.block2Right .blockButton {
  @include button-secondary;
}
.block2Right {
  background: $teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
}

.joinImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.block2Image {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

@media (max-width: 768px) {
    .ceFacem{
        margin-top: 3rem;
        width: 100%;
        padding: 0;
        gap: 0;
    }
    .subtitle{
        margin-bottom: 1rem;
        padding: 0 2rem;
    }
  .block {
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0;
    margin: 0;
    min-height: auto;
  }
  .block2{
    flex-direction: column-reverse;
  }
  .leftSide,
  .rightSide {
    flex: 1 0 auto;
    width: 100%;
  }
  .block1Left {
    padding: 1.5rem;
    text-align: center;
  }
  .joinImage {
    margin: 0 auto;
    border-radius: 0;
  }
  .block,
  .block1Left,
  .block2Right,
  .block2Image {
    border-radius: 0;
  }

  .title{
    flex-direction: column;
  }
}
