@use '../../styles/globals' as *;

.events {
  padding: 3rem 1rem;
  max-width: $maxWidth;
  margin: 0 auto;
  font-family: $font-regular;
}

.title {
  font-size: 2.8rem;
  color: $teal;
  margin-bottom: 1rem;
  text-align: center;
  font-family: $font-bold;
}

.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 1.6rem;
  }
}
