@use '../../styles/globals' as *;

.wrapper {

  font-family: $font-regular;
}

.header {
  margin-bottom: 1rem;
}

.title {
  font-family: $font-bold;
  font-size: 2rem;
  color: $teal;
}

.gallery {
    width: $maxWidth;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 0.5rem;
  margin-bottom: 1rem;

}

.galleryImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.content {
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: $maxWidth;
}

@media (max-width: 768px) {
  .title { font-size: 1.5rem; }
}
