@font-face {
    font-family: "PoppinsRegular";
    src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PoppinsLight";
    src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
}