@import './fonts';

// Color Palette
$black: #000000;
$orange: #EE9C32;
$teal: #27B6A8;

$font-regular: 'PoppinsRegular', Arial, sans-serif;
$font-bold: 'PoppinsBold', Arial, sans-serif;
$font-medium: 'PoppinsMedium', Arial, sans-serif;

